*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.div{
    display: flex;
    justify-content: center;
    margin: .7rem 0 1rem 0;
    /* padding: 0 1rem; */
}
.div input{
    width: 50%;
    border: none;
    outline: none;
    background: rgb(239, 239, 239); color: rgb(107, 107, 107);
    padding: 1rem 1rem;
    border-radius: 1rem;
    
}
.div input,
button{
    font-size: 1.6rem;
}
.div button{
    outline: none;
    border: none;
    border-radius: 1rem;
    background: rgb(115, 213, 115); color: #fff;
    margin-left: .2rem;
    padding: 0 1rem;
    cursor: pointer;
}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    /* columns: 3; */
    padding: 0 2rem;
}

@media (max-width:1262px){
    html{
      font-size: 55%;
    }
    .container img{
        width: 30vw;
    }
}
@media (max-width: 994px){
    .container{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        
    }
    .container img{
        width: 100%;
    }

}
@media (max-width: 768px){
    html{
        font-size: 55%;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .container img{
        /* width: 25rem; */
        width: 100%;
    }
}